div {
    width: 1045px;
}

div>div:nth-of-type(1) {
    text-align: center;
    margin: 80px auto;
}

div>h2 {
    color: #dc3545;
    font-size: 36px;
}

div>div>p {
    font-size: 18px;
    white-space: pre-line;
}

div>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div>ul>li {
    position: relative;
    background-color: #000;
}

div>ul>li>p {
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 1; */
    margin: 0;
    width: 40px; height: 40px;
    background-color: #dc3545;
    color: white;
    opacity: 0;
    text-align: center;
    font-size: 20px;
    padding-top:5px;
    box-sizing: border-box;
    transition:.5s;
}
/* p태그 img태그 위치바껴서 z-index씀 */
div>ul>li>img {
    opacity:0.3;
    width: 100%;
    vertical-align: middle;
    transition: .5s;
}
/* li가 폰트사이즈를 가짐. 하지만, 0으로두면 p글씨사라짐. 
>> verticla-align (이미지 width값 주고) */

/* opacity .3 = 30% */

div>ul>li:hover>img {
    opacity: 1; 
}

div>ul>li:hover>p {
    opacity: 1; 

}
