@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

html,body{ margin: 0;}
ul,li,ol{ list-style-type: none; margin: 0; padding: 0;}
h1,h2,h3,h4,p,figure,figcaption{margin: 0;}
a{text-decoration: none;}
img{vertical-align: center;}
*{box-sizing: border-box;}


/* 
h1 { background: url(../img/Afrodyta\ Logo.png); } -> 안됨...
*/

header{
    width: 1088px;
    text-transform: uppercase;
    padding: 50px 0;
    margin: 0 auto;
    font-family:'Noto Sans', sans-serif;
}
header > div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header ul{
    width: 400px;
    display: flex;
    letter-spacing: 0.5px;
}
header ul > li{
    padding: 0 10px;
}
header ul > li > a{ font-size: 20px;}
header ul > li div{ display: none;}


footer{
    width: 100%;
    background-color: #959595;
    padding: 35px 0;
    margin: 0 auto;
    text-align: center;
    font-family:'Noto Sans', sans-serif;
}
footer > h2{
    color: #bcbcbc;
    font-size: 15px;
}