 /* markup.html  */


/* .ex-1 {
    width: 400px;
}
.ex-1 > h2{
    font-size: 32px;
}
.ex-1 > p{
    font: size 16px;
    line-height: 180%;
    color: #555;
}
.ex-1 > a{
    padding: 40px;
    margin: 100px auto;
} */


/* 예제 1 */
.ex-1 {
    width: 400px;
    padding: 40px;
    margin: 100px auto;
    border: 1px solid #000;
}
.ex-1 > h2{
    font-size: 32px;
    margin: 0;
}
.ex-1 > p{
    font: size 16px;
    line-height: 180%;
    color: #555;
}
.ex-1 span{color: #f00;}
.ex-1 > a{
    border: 1px solid #000;
    background-color: #ff0;
    /* margin: 0; */
    padding: 10px 30px;
    display: inline-block
    ;
}


/* 예제 2 */
.ex-2 {
    width: 400px;
    padding: 40px;
    margin: 100px auto;
    border: 1px solid #000;}

.ex-2 > p > img{width: 100%;}

.ex-2 >div > b{font-size:32px;}
.ex-2 >div > p{
    font: size 16px;
    line-height: 180%;
    color: #555;
}
.ex-2 >div > a{
    color: #000;
    box-sizing: inline-block;
    padding: 10px 30px;
    border: 1px solid #000;
    background-color: #ff0;
    /* padding: 40px;
    margin: 100px auto;
    border: 1px solid #000; */
}
