// _media.scss

$mobile : 360px;
$tablet : 768px;
$desktop :1024px;
$lgdesktop : 3600px;

@mixin breakpoint($min, $max){
    @media (min-width:$min) and (max-width:$max) {
        @content;
    }
}

@include breakpoint($mobile, $tablet){
    body{
        background-color: #f00;
    }
};
@include breakpoint($tablet, $desktop ){
    body{
        background-color: #00f;
    }

};
@include breakpoint($desktop, $lgdesktop){
    body{
        background-color: #0f0;
    }

};

// 하단에 Watching을 눌러야함